[submodule "src/analyze-splatoon2"]
	path = src/analyze-splatoon2
	url = git@github.com:mitsu-ksgr/analyze-splatoon2.git
[submodule "src/splatoon2-gachianalyzer"]
	path = src/splatoon2-gachianalyzer
	url = git@github.com:mitsu-ksgr/splatoon2-gachianalyzer.git
